span{
    height:20px;
}

.blockOne{
    display:block; border:0px solid blue; float:left; width:120px;
    height:25px; text-align: right; padding-right:10px; padding-top:10px;
    background-color: lightgrey;
}

.blockTwo{
    display:block; border:0px solid green;  width:750px;
    float:left;
    min-height: 25px;
    background-color: lightyellow;
}

.buttons{
    width:100px;
    height:40px;
    font-size:16px;
    margin-left:10px;
    background-color:cyan;
    border-radius: 5px;
    background-image: linear-gradient(cyan, lightcyan);
    box-shadow: 2px 2px blue;
    border: solid 1px blue;
    display:table-cell;
    vertical-align:middle;
}

.buttons:hover{
    background-color:rgb(48, 89, 159);
    background-image: linear-gradient(rgb(97, 166, 206), rgb(63, 153, 206));
  }

.theScript{
    font-size:13px;
    margin-left:2px;
    min-width:90%;
    display:inline-block;
    color:white;
    text-align: left;;
    padding-left:8px;
    height:25px;
}

.even{
    background-color:rgb(30, 102, 226);
    
}

.odd{
    background-color:rgb(97, 144, 225);;
}

.theScript:hover{
    background-color:rgb(9, 47, 112);
    color:white;
}

.error{
    width:400px;
    display:inline-block; 
    border:red 1px solid;
    margin-left:25px;
    color:red;
    font-size:15px;
    background-color: lightgrey;
    }

.skipLine{
    display:inline-block;
    width:100%;
    margin-top:4px;
    font-size:8px;
}

.boxGuided{
    width:1000px;
    border: solid 1px blue;
    display:inline-block;
    min-height:300px;
    background-color: cyan;
}

.subBoxGuided{
    width:1000px;
    border: solid 1px green;
    display:inline-block;
    min-height:30px;
    
}
.colorDomain{
    background-color: rgb(8, 125, 37);
    color:white;
}
.colorSelect{
    background-color: rgb(70, 63, 126);
    color:white;
}
.colorFilter{
    background-color: rgb(178, 52, 142);
    color:white;
}
.colorReplace{
    background-color: rgb(16, 127, 196);
    color:white;
}

.evenReplace{
    background-color: rgb(6, 153, 245);
}

.oddReplace{
    background-color: rgb(17, 102, 155);
}

.title{
    width:100%;
    display:inline-block;
    font-size:14px;
    background-color: lightblue;
    text-align: center;
    padding-top:5px;
    height:18px;

}

.subTitle{
width:100%; display:inline-block; font-size:14px; 
min-height:20px; 
border:0px red solid;
}

.subTitlePlus{
    font-size:12px;
    font-weight: bold;
    min-height:20px;
    padding-left: 15px;
    min-width: 130px;
    max-width: 130px;
    border:0px red solid;
    display:inline-block;
}
.thePlus{
    font-size:12px;
    font-weight: bold;
    min-height:20px;
    padding-left: 5px;
    border:0px blue solid;
    display:inline-block;
}
.thePlusTop{
    min-width: 600px;
    max-width:600px;
}
.thePlusFilter{
    min-width: 800px;
    max-width:800px;
}

.boxField{
    margin-left:10px; 
    display:inline-block;  
    width:650px;
    /*background-color: lightblue;*/
    margin-top:2px;
    min-height:20px;
    border:0px solid rgb(255, 0, 64);
}
.boxFieldTitle{
    font-size:12px;
    font-weight: bold;
    min-height:22px;
    width: 130px;
    border:0px blue solid;
    display:block;
    float:left;
    padding-top:2px;
}



.label{
    width:50px;
    display:inline-block;
    font-size: 10px;
    
    text-align: left;
    padding-right:5px;  
}



.labelLong{
    width:80px;
    display:inline-block;
    font-size: 10px;
    margin-left:15px;
    text-align: left;
    padding-right:5px;
    border:0px white solid;
}

.inpField{
    width:180px;
    color:blue;
    display:inline-block;
    font-size: 11px;;
    border:none;
    height:18px;
}

.inpColor{
    background-color:lightblue;
}



.action{
    padding-left:3px;
    width:18px;
    height:18px;
    display:inline-block;
    color:black;
    border-radius: 50%;
    margin-left:0px;
}
.actionA{
    background-color:green; 
}
.actionD{
    background-color:red;
}
.actionDsmall{
    padding-left:4px;
    width:18px;
    height:18px;
    display:inline-block;
    background-color:red;
    color:black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left:0px;
}

.posAct{
    text-align: right;
    margin-top:-2px;
    margin-left:0px;
    font-size:11px;

}

.posFieldFilter{
    margin-left:0px;
    margin-top:0px;
    text-align: right;
}

.actionA:hover{
    background-color:blue;
    color:white;
}

.actionD:hover{
    background-color:rgb(8, 8, 140);
    color:white;
}


.loop{
    float:left;
    width:250px;
    display:block;
    border:0px green solid;
    margin-top:2px;
   
}

.posButton{
    float:left;
    display:block;
}

.summary{
    width:100%; display:inline-block; min-height:18px; 
    font-size:12px; color:green;
    border:0px solid blue; 
}


.newScript{
    background-color: white;
    width:800px;
    display:block;
    margin-left:20px;
    margin-bottom:10px;
    padding:10px;
    min-height:80px;
}