


 <!--     Retrieve script file -->
<div style="display:block; float:left; max-width:100px; margin-top:20px;">
    <label >
        <input id="retrieveScript" style=" display:none;" type="file" (change)="open($event)">
        <a class="buttons" style="padding-left:20px; margin-top:60px; " id="41"> Script to retrieve </a>
    </label>
</div>
<div style="overflow-y:scroll; display:inline-block; margin-left:20px; height:100px; width:300px; border:2px green solid; background-color:lightgray; text-align: center;">List of scripts retrieved<br>
    <li style="list-style-type: none;" *ngFor="let tab of scriptFileName; let i=index;"  (click)="onSelectedScript(i)">
        <span class="theScript even" *ngIf="i % 2 === 0" > {{i+1}} - {{tab}} </span>
        <span class="theScript odd"  *ngIf="i % 2 === 1" > {{i+1}} - {{tab}} </span>
    </li>
</div>

<div class="boxGuided" *ngIf="isGuidedMode===true">
    <div class="title"> Guided mode</div>
    <div class="colorDomain">
        <div class="subTitle">
            <span class="subTitlePlus">Domain to select</span>
            <div class="thePlus">
            <div class="label"  >Field</div>
            <input class="inpField" value="{{scriptJsonContent[this.currentScript].dom.field}}" type="text" id="domField" (input)="onDomainInput($event)">
            <div class="label"  style="margin-left:15px;">Value</div>
            <input class="inpField" value="{{scriptJsonContent[this.currentScript].dom.value}}" type="text" id="domValue" (input)="onDomainInput($event)">
        </div>
        </div>
    </div>
    <div class="colorSelect">
        <div class="subTitle">
            <div class="subTitlePlus">Select Function</div>
            <div class="thePlus thePlusTop">
                <div class="label "  >tag</div>
                <input class="inpField"  value="{{scriptJsonContent[this.currentScript].select.tag}}" type="text" id="selTag" (input)="onSelectInput($event)">
                <div class="label"  style="margin-left:15px;">field</div>
                <input class="inpField"  value="{{scriptJsonContent[this.currentScript].select.field}}" type="text" id="selField" (input)="onSelectInput($event)">
            </div>
        </div>
            <div class="subTitlePlus" >&nbsp;</div>
            <div class="thePlus thePlusTop">
                <div class="label "  >fromValue</div>
                <input class="inpField"  value="{{scriptJsonContent[this.currentScript].select.fromValue}}" type="text" id="selFromV" (input)="onSelectInput($event)" >
                <div class="label" style="margin-left:15px;">toValue</div>
                <input class="inpField"   value="{{scriptJsonContent[this.currentScript].select.toValue}}" type="text"id="selToV" (input)="onSelectInput($event)" >
            </div>
        
    </div>
     <div class="colorFilter">
        <div class="subTitle">
            <div class="subTitlePlus">Filter function  </div>
            <div class="subTitle">
                <div class="thePlus thePlusTop">
                    
                    <div class="label" style="margin-left:30px;"> Tag </div>
                    <input class="inpField" ng-readonly=&nbsp; type="text" id="tagConf" (input)="onFilterScript($event)" value="{{tagFilterDisp.tagConf}}"> 
                </div>
            </div>
        </div>
            
        <div class="boxFieldTitle">
            <div class="labelLong " >    
                <button class="action actionA" id="addConf-" (click)="addField($event)" >A</button>
                    &nbsp;&nbsp;Field(s)
            </div>
        </div>
        <div class="thePlus thePlusFilter">
            <div *ngFor="let tabF of tagFilterDisp.fieldConf; let j=index" >
                <div class="loop">
                    <div class="posButton">
                        <button   class="actionD actionDsmall" id="delConf-{{j}}" (click)="delField($event)" ><div id="delConf-{{j}}" class="posAct">D</div></button>&nbsp;&nbsp;
                    </div>
                    <input  type="text" class="inpField inpColor" (input)="onFilterScript($event)" id="fieldConf-{{j}}" value="{{tabF}}">
                </div>
            </div>
        </div>
            
        <div *ngFor="let tabT of tagFilterDisp.subConf; let i=index" >
            <div class="subTitle">
                <div class="thePlus thePlusFilter">
                    <div class="label" style="margin-left:30px;"> Tag-{{i}} </div>
                    <input class="inpField" type="text"  id="tagSubC-{{i}}" (input)="onFilterScript($event)" value="{{tagFilterDisp.subConf[i].tag}}"> 
                    <div class="label" style="margin-left:15px;"> Sub-tag </div>
                    <input class="inpField" type="text" id="subTagSubC-{{i}}" (input)="onFilterScript($event)" value="{{tagFilterDisp.subConf[i].subTag}}"> 
                    <div class="labelLong " >    
                        
                        <button  class="action actionA"  id="addTag-{{i}}" (click)="addTag($event)" >A</button>&nbsp;&nbsp;
                        <button  class="action actionD" id="delTag-{{i}}" (click)="delTag($event)" >D</button>
                        
                    </div>
                </div>
            </div>

            <div class="boxFieldTitle">
                <div class="labelLong " >   
                    <button class="action actionA" id="addSubConf-{{i}}" (click)="addField($event)" >A</button>
                    &nbsp;&nbsp;Field-{{i}}
                </div>
            </div>
            <div class="thePlus thePlusFilter">
                    <div *ngFor="let tabF of tagFilterDisp.subConf[i].field; let j=index" >
                        <div  class="loop">
                            <div class="posButton">
                                <button class="actionD actionDsmall" id="del-{{i}}*{{j}}" (click)="delField($event)" ><div id="delSubConf-{{i}}*{{j}}" class="posAct">D</div></button>&nbsp;&nbsp;
                            </div>
                            <input type="text" class="inpField inpColor" (input)="onFilterScript($event)" id="fieldSubC-{{i}}*{{j}}" value="{{tabF}}">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="colorReplace">
        <div class="subTitle">
            <div class="subTitlePlus">Replace function</div>
            <div style="width:95%; display:inline-block; margin-left:20px;">
                <div *ngFor="let tab of  scriptJsonContent[this.currentScript].replace; let i=index"  >
                    <div class="label" style="margin-left:0px;">
                        <button  class="action actionA" id="replaceAdd-{{i}}" (click)="addReplace($event)" >A</button>&nbsp;&nbsp;
                        <button  class="action actionD" id="replaceDel-{{i}}" (click)="delReplace($event)" >D</button>
                    </div>
                    <div class="label">tag-{{i}}</div>
                    <input class="inpField" style="color:white;" type="text"  [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }" id="tagN-{{i}}" (input)="(onReplaceInput($event))" value="{{tab.tag}}">
                    <div class="labelLong">field</div>
                    <input class="inpField" style="color:white;" type="text" [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }" id="tagF-{{i}}" (input)="(onReplaceInput($event))" value="{{tab.refField}}">
                    <div class="labelLong">value</div>
                    <input class="inpField" style="color:white;" type="text" [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }"  id="tagV-{{i}}" (input)="(onReplaceInput($event))" value="{{tab.withValue}}">
                    <div *ngFor="let change of scriptJsonContent[this.currentScript].replace[i].changeField; let j=index" >
                        <div style="width:100%; display:inline-block; ">
                            <div class="label" style="margin-left:0px;" >
                                <button  class="action actionA" id="changeAdd-{{i}}*{{j}}" (click)="addChange($event)" >A</button>&nbsp;&nbsp;
                                <button  class="action actionD" id="changeDel-{{i}}*{{j}}" (click)="delChange($event)" >D</button>
                            </div>
                            <div class="label">item-{{j}}</div>
                            <input class="inpField" style="color:white;" type="text" [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }"  id="changeT-{{i}}*{{j}}" (input)="(onReplaceInput($event))" value="{{change.tag}}" >
                            <div class="labelLong">old value</div>
                            <input class="inpField" style="color:white;" type="text" [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }" id="changeO-{{i}}*{{j}}" (input)="(onReplaceInput($event))" value="{{change.old}}" >
                            <div class="labelLong">new value</div>
                            <input class="inpField" style="color:white;" type="text" [ngClass]="{'evenReplace':i % 2===0,'oddReplace':i % 2!==0 }" id="changeN-{{i}}*{{j}}" (input)="(onReplaceInput($event))" value="{{change.new}}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newScript">
        <div class="summary"> 
            <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  >{{scriptFn[0]}}</span> 
                field="
            <span style="color:darkorange">{{scriptJsonContent[this.currentScript].dom.field}} </span>" value="'
            <span style="color:darkorange">{{scriptJsonContent[this.currentScript].dom.value}}</span>" 
            <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  >#>&nbsp;&nbsp;</span> 
        </div>
        <div class="summary"> <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  > {{scriptFn[1]}}  </span>
                [tag="<span style="color:darkblue">{{scriptJsonContent[this.currentScript].select.tag}}</span> "&nbsp; field=" 
            <span style="color:darkorange">{{scriptJsonContent[this.currentScript].select.field}} </span>" fromValue="' 
            <span style="color:darkorange">{{scriptJsonContent[this.currentScript].select.fromValue}} </span>" toValue="' 
            <span style="color:darkorange">{{scriptJsonContent[this.currentScript].select.toValue}} </span>" 
            <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  >#>&nbsp;&nbsp;</span>
        </div> 

        <div class="summary"> <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  > {{scriptFn[2]}} </span>
            [tag="<span style="color:darkblue">{{scriptJsonContent[this.currentScript].filter.tagConf}}</span>"&nbsp; field="
            <span *ngFor="let tab of scriptJsonContent[this.currentScript].filter.fieldConf; let iDet=index">
                <span style="color:darkorange"> {{scriptJsonContent[this.currentScript].filter.fieldConf[iDet]}}</span> 
                <span *ngIf="iDet<scriptJsonContent[this.currentScript].filter.fieldConf.length-1">,&nbsp;</span>
            </span>
            "]
            <span *ngFor="let tabT of scriptJsonContent[this.currentScript].filter.subConf; let i=index" >
                [tag="<span style="color:darkblue">{{scriptJsonContent[this.currentScript].filter.subConf[i].tag}}</span>"&nbsp;" 
                <span *ngIf="scriptJsonContent[this.currentScript].filter.subConf[i].subTag===''">
                    field="
                    <span *ngFor="let tabF of scriptJsonContent[this.currentScript].filter.subConf[i].field; let iDet=index">
                        <span style="color:darkorange"> {{scriptJsonContent[this.currentScript].filter.subConf[i].field[iDet]}}</span> 
                        <span *ngIf="iDet<scriptJsonContent[this.currentScript].filter.subConf[i].field.length-1">,&nbsp;</span>
                    </span>
                    "]
                </span>
                <span *ngIf="scriptJsonContent[this.currentScript].filter.subConf[i].subTag!==''">
                    subTag="<span style="color:darkblue">{{scriptJsonContent[this.currentScript].filter.subConf[i].subTag}}</span>"&nbsp;" field="
                    <span *ngFor="let tabF of scriptJsonContent[this.currentScript].filter.subConf[i].field; let j=index">
                       <span style="color:darkorange"> {{scriptJsonContent[this.currentScript].filter.subConf[i].field[j]}}</span> 
                       <span *ngIf="j<scriptJsonContent[this.currentScript].filter.subConf[i].field.length-1">,&nbsp;</span>
                    </span>
                    "]
                </span>
            </span>
            <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  >#></span> 
        </div>
        <div class="summary">
            <span  *ngFor="let tab of scriptJsonContent[this.currentScript].replace; let i=index" >
               <div class="blockSum">
                <span  *ngIf="i===0" style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  > {{scriptFn[3]}} </span>
                [tag="<span style="color:darkblue">{{tab.tag}}</span>"&nbsp;" refField="
                <span style="color:darkorange">{{tab.refField}}</span>"&nbsp;" withValue="
                <span style="color:darkorange">{{tab.withValue}}</span>"
                
                <span>changeField="</span>
                <span *ngFor="let change of scriptJsonContent[this.currentScript].replace[i].changeField; let j=index" >
                    {{openTag}}
                    <span style="color:darkblue"> {{change.tag}}</span> 
                        ', old:'
                    <span style="color:darkorange">{{change.old}}</span>&nbsp;
                        ', new:'
                    <span style="color:darkorange">{{change.new}}</span>&nbsp;
                        {{closeTag}}
                    <span *ngIf="j<scriptJsonContent[this.currentScript].replace[i].changeField.length-1">,&nbsp;</span>
                </span>
                "]
            </div>
            </span>
            <span style="color:rgb(14, 121, 28); font-size: 13px; font-weight:bolder;"  >#></span> 
           
        </div>
    </div>
</div>


<div [formGroup]="myForm" style="margin-top:10px; width:570px; display:block; margin-left:20px; ">
    <div > <!-- *ngIf="scriptFileName.length>0" -->
        <div *ngIf="isGuidedMode===false" style="margin-top:10px; display:inline-block; max-height:100px; width:900px; border:blue solid 1px; background-color: lightblue;">
            <div style=" margin-top:10px; max-width:900px;">Content of script : {{scriptFileName[currentScript]}}</div>

            <textarea style="width:900px; height:100px; overflow-y: scroll;" (input)="onInputScript($event)" type="text" value="{{modifiedScriptContent}}">
            </textarea>
        </div>
        <div class="error" *ngIf="scriptError!==''">{{scriptError}}</div>
        <div *ngIf="isConfirmSaveScript===false" style="margin-top:10px; display:block;">
            <div *ngIf="isGuidedMode===false">
                <button id="53"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; "(click)='onStartGuided()' >Start guided</button>
            </div>
            <div *ngIf="isGuidedMode===true">
                <button id="54"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='onStopGuided()' >Stop guided</button>
            </div>

        </div>
        <div *ngIf="isConfirmSaveScript===false" style="margin-top:10px; display:block;">
            <button *ngIf="isMainJson===true" id="61"  class="buttons" style="width:140px;  font-size:13px;" (click)='onProcessScript()'>Process Script</button>
            <button id="62"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='confirmSaveScript()'>Save Script</button>
            <button id="63"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; "(click)='onCancelScript()' >Cancel updates</button>
         </div>
         <div *ngIf="isConfirmSaveScript===false" style="margin-top:10px; display:block;">
            <button id="64"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; "(click)='onClearScript()' >Clear content</button>
        </div>
        <div *ngIf="isConfirmSaveScript===true" style="margin-top:10px; display:block;">
            <span style="width:250px; border:blue solid 1px;background-color:white; ">Enter the name of the file </span><input type="text" formControlName="fileScriptName" value="fileScriptName" style="margin-left:20px; width:250px; height:30px; font-size:14px; color:blue; background-color:white;" >
            <button id="71"  class="buttons" style="width:140px;  font-size:13px;" (click)='onSaveScript("server")'>Save on server</button>
            <button id="72"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='onSaveScript("local")'>Download locally</button>
            <button id="73"  class="buttons" style="width:140px;  font-size:13px; margin-left:15px; " (click)='onSaveScript("cancel")'>Cancel Save</button>
        </div>
    </div>
</div>
<div class="skipline">&nbsp;</div>

