<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 
<body>
<div style="margin-left:80px; margin-top:15px; font-size:16px; display:block; margin-top:5px; width:450px;  color:blue; border:3px blue solid; background-color: lightskyblue;"
            [ngStyle]="{'height.px': (devMode==='local') ? 50 : 80}">
    <div style="font-size:16px; display:inline-block; text-align: center; margin-top:5px; font-weight:bolder; width:100%; ">
            <div style="padding-top:5px; padding-left:40px;display:block; float:left; min-width:55%;">Retrieve your configuration file</div>
            <div style="display:block; text-align: left; min-width:20%;">
            <label *ngIf="devMode==='local'">
            <input id="mainFile" style=" display:none;" type="file"  (change)="open($event)">
            <a class="buttons" style="width:60px; height:25px; padding-left:7px;padding-top:3px; margin-top:3px; display:inline-block;" id="mainFile"> Folder </a>
            </label>
            </div>
    </div>

    <div *ngIf="devMode!=='local'" style="margin-top:5px; display:inline-block; width:100%;  font-weight:normal;;">
        <label style="display:block; float:left; font-weight:normal;">
            <span >from your </span>
            <input id="mainFile" style=" display:none;" type="file"  (change)="open($event)">
            <a class="buttons" style="width:60px; height:25px; padding-left:15px;padding-top:3px; margin-top:3px; display:inline-block;" id="mainFile"> Folder </a>
        </label>

        <div  style="margin-top:10px;  margin-left:15px;  "> 
            <label style="margin-left:10px; font-weight:normal;">or from the</label>
            <button id="10"  class="buttons"  style="padding-left:15px; " (click)='onSelectServer()'>Server</button> 
        </div>  
    </div>
</div>
<!--
<div *ngIf="isSelectServer===true"  >
    <app-select-server [initConfigServer]="configServer" [selectOneServer]="selectOneServer"
            (returnOneServer)="getOneServerName($event)">
    </app-select-server>
    <div style="margin-top:20px; width:100%; display:block; height:170px;"></div>
</div>
-->
<!--
myBlink steps(1) 500ms infinite alternate
<div  style="display:inline-block;  margin-left:20px; margin-top:2px; background-color: cyan; ">
    <div class="myBlinker">&nbsp;&nbsp;&nbsp;File is being processed locally - be patient </div>
</div>
-->
<div class="error">{{error}} </div>

<div *ngIf="processFile===true" style=" display:inline-block; width:100%;">
    <div  class="myBlinker">&nbsp;&nbsp;&nbsp;File is being processed locally - be patient &nbsp;&nbsp;&nbsp;<br> XML format will also be converted into JSON</div>
</div>
<div [formGroup]="myForm" style="margin-top:0px; width:570px; display:block; margin-left:20px; ">
    <div *ngIf="isFileLocal===false && isFileServer===true && (configServer.userLogin.accessLevel==='High' || configServer.userLogin.accessLevel==='Very High')"
            style="border:1px solid blue; background-color: cyan;">
        <div class="title">File to retrieve from Google Server</div>
        <div class="theDiv" style="margin-top:15px;">
            <span class="label">Bucket</span><input class="input" type="text" formControlName="bucket" value="GoogleBucket" >
           
            <span class="label" style="margin-top:4px;">File name</span><input class="input" type="text" formControlName="object" value="GoogleObject" >
            
        </div>
        <button class="buttons" style="margin-top:10px; margin-left:200px;" id="11" (click)='readFileServer()'>Read</button>
        <div style="margin-top:7px;">&nbsp;</div>
    </div>
<!--
    <div *ngIf="isMainJson===true" style="border:1px solid blue; background-color: cyan;">
        <div class="title" style="margin-top: 18px;">Filters</div>
        <div class="theDiv">
            <span class="label">ABDDomainConfig Location=</span><input class="input" type="text" formControlName="searchDomain" value="searchDomain" >
        </div>
    
        <div class="theDiv" >
            <span class="label">Tag</span><input class="input" type="text" formControlName="searchField" value="searchField" >
        </div>
        <div class="theDiv" style="margin-top:7px;">
            <span class="label">Fields</span><input class="input" type="text" formControlName="searchStartValue" value="searchStartValue" >
            <span style="font-size:11px; color:blue; display:block; float:left; margin-left:5px;"> Note: if no End Field is specified, it will then search all the items wich field contains the specified value.  <br>  Both fields are mandatory if at least one of them is filled-in</span>
        </div>
        <div *ngIf="noSubmit===false && selectedServer!==''" class="theDiv">
            <button id="1"  class="buttons" style="margin-top:10px; margin-left:200px;" (click)='processFilters()'>Filter</button>
        </div>
    </div>
-->
<!--
*ngIf="isMainJson===true"
-->
<div *ngIf="processFile===false">
    <div >
        <app-script-mgt [isMainJson]="isMainJson" [afterSaveScript]="afterSaveScript"
            (saveScript)="onSaveScript($event)" (processScript)="onProcessScript($event)">
        </app-script-mgt>
    </div>

    
    <div *ngIf="isMainJson===true" style="display:block; margin-left:0px; margin-top:5px;">
        <button id="44"  class="buttons" style="width:140px;  margin-left:0px; font-size:13px;" (click)='onConvertJsonToXML("All")'>Convert JSON to XML</button>
        <button id="44"  class="buttons" style="width:140px;  font-size:13px; margin-left:40px;" (click)='onConvertJsonToXML("Partial")'>For selected Domain, convert JSON to XML</button>
    </div>

    <div *ngIf="isXMLRetrieved===true" style="margin-top:0px;">
        <div *ngIf="isDisplayXML===false" style="margin-top:8px; margin-left:-10px;">
            <button id="41"  class="buttons" style="width:140px;  font-size:13px;" (click)='onDisplayXML("Yes")'>Display native XML</button>
        </div> 

        <div *ngIf="isDisplayXML===true">
            <div *ngIf="isConfirmSaveXML===false" style="margin-top:20px; margin-left:0px; display:inline-block; width:900px;">
                <div [formGroup]="myForm">
                    <input type="text" formControlName="fileNameXML" value="fileNameXML" style="margin-left:0px; width:250px; height:30px; font-size:14px; color:blue; background-color:white;" >
                    <button id="40" class="buttons" style="font-size:13px;"  (click)='onDisplayXML("No")'>Hide native XML</button>
                    <button id="2"  class="buttons" style="font-size:13px;"  (click)='confirmSaveFileXML()'>Confirm save XML</button>
                </div>
            </div>
            <div *ngIf="isConfirmSaveXML===true" style="margin-top:30px; display:inline-block; width:900px;">
    
                <div  style=" height:30px; font-size:14px; color:blue; " >
                    <span style="width:250px; border:green solid 1px;background-color:white; "> {{myForm.controls['fileNameXML'].value}} </span>
                <button id="41"  class="buttons"   style="font-size:13px;"  (click)='onDisplayXML("No")'>Hide native XML</button>
                <button id="33"  class="buttons"   style="font-size:13px; margin-left:15px;"  (click)='saveFileHTTP("serverXML")'>Save on server</button>
                <button id="34"  class="buttons"   style="font-size:13px; margin-left:15px;"  (click)='saveFileHTTP("localXML")'>Download locally</button>
                <button id="35"  class="buttons"   style="font-size:13px; margin-left:15px;"  (click)='saveFileHTTP("cancel")'>Cancel</button>
            </div>
        </div>
       
            <textarea  style="font-size:12px; width:1000px; height:400px; overflow-y:scroll; margin-top:6px;"   type="text" name="dataXML" formControlName="dataXML" value="dataXML" id="theChange"  > 
            </textarea>
        
    </div>
    </div>
</div>
</div>

<div *ngIf="isMainJson===true">
    <div *ngIf="isConfirmSave===false" style="margin-top:30px; margin-left:20px; display:inline-block; width:800px;">
        <div [formGroup]="myForm">
            <input type="text" formControlName="fileName" value="fileName" style="width:250px; height:30px; font-size:14px; color:blue; background-color:white;" >
            <button id="2"  class="buttons"  style="font-size:13px;"   (click)='confirmSaveFile()'>Confirm save JSON</button>
            <button id="2"  class="buttons"  style="font-size:13px;"   (click)='reinitOutFile()'>Cancel Updates</button>
        </div>
    </div>
    <div *ngIf="isConfirmSave===true" style="margin-top:30px; margin-left:10px; display:inline-block; width:800px;">

            <div  style="margin-left:10px;  width:500px; height:30px; font-size:14px; color:blue; " >
                <span style="width:250px; border:blue solid 1px;background-color:white; "> {{myForm.controls['fileName'].value}} </span>
            <button id="43"  class="buttons"   style="font-size:13px;"  (click)='saveFileHTTP("serverJSON")'>Save on server</button>
            <button id="44"  class="buttons"   style="font-size:13px;"  (click)='saveFileHTTP("localJSON")'>Download locally</button>
            <button id="45"  class="buttons"   style="font-size:13px;"  (click)='saveFileHTTP("cancel")'>Cancel</button>
        </div>
    </div>
</div>

<div *ngIf="isMainJson===true" style="font-size:13px; margin-top:20px; margin-left:10px;  overflow-y:scroll; display:block; height:500px; min-width:1035px;">
    <div style="min-width:1000px; margin-left:10px; background-color: rgb(143, 136, 136); color:white; display:inline-block; overflow-x:hidden; overflow-y: scroll;">
        <div style="margin-left:10px;display:inline-block;">{{mainOutJSON.Body.level.name}}&nbsp;&nbsp;&nbsp;
            <span style="display:inline-block;" *ngFor="let tab of mainOutJSON.Body.level.det; let m=index;">
                <span style="color:rgb(55, 55, 186)" >{{tab.F}}</span>=<span style="color:darkorange" >"{{tab.V}}"</span>&nbsp;&nbsp;&nbsp;
            </span>
        </div>
        <br>
        <div style="margin-left:20px;display:block;" *ngFor="let tab0 of mainOutJSON.Body.level.tab; let i=index;">    
            <div *ngIf="tab0.disp===true">
                {{tab0.name}}
                <span style="display:inline-block;" *ngFor="let det0 of tab0.det; let m0=index;">
                    <span *ngIf="det0.disp===true">
                        <span style="color:rgb(55, 55, 186)" > &nbsp;&nbsp;&nbsp;{{det0.F}}</span>=<span style="color:darkorange" >"{{det0.V}}" </span>
                    </span>
                    <span *ngIf="mainOutJSON.Body.level.tab[i].det.length-1===m0 ">&nbsp;></span>
                </span>
                <div style="margin-left:27px;display:block;"*ngFor="let tab1 of mainOutJSON.Body.level.tab[i].tab; let j=index;">
                    <div *ngIf="tab1.disp===true">
                            {{tab1.name}} 
                        <span style="display:inline-block;" *ngFor="let det1 of tab1.det; let m1=index;">
                            <span *ngIf="det1.disp===true">
                                <span style="color:rgb(55, 55, 186)" >&nbsp;&nbsp;&nbsp;{{det1.F}}</span>=<span style="color:darkorange" >"{{det1.V}}"</span>
                            </span>
                        </span>
            <br>
                        <div style="margin-left:34px;display:block;" *ngFor="let tab2 of mainOutJSON.Body.level.tab[i].tab[j].tab; let k=index;">
                            <div *ngIf="tab2.disp===true">    
                                {{tab2.name}} 
                                <span style="display:inline-block;" *ngFor="let det2 of tab2.det; let m2=index;">
                                    <span *ngIf="det2.disp===true">
                                        <span style="color:rgb(55, 55, 186)" >&nbsp;&nbsp;&nbsp;{{det2.F}}</span>=<span style="color:darkorange" >"{{det2.V}}"</span>
                                    </span>
                                    <span *ngIf="mainOutJSON.Body.level.tab[i].tab[j].tab[k].det.length-1===m2 ">&nbsp;></span>
                                </span>        
                    <br>
                                <div style="margin-left:41px;display:block;" *ngFor="let tab3 of mainOutJSON.Body.level.tab[i].tab[j].tab[k].tab; let l=index;">
                                   
                                    <div *ngIf="tab3.disp===true">   
                                        {{tab3.name}} 
                                        <span style="display:inline-block;" *ngFor="let det3 of tab3.det; let m3=index;">
                                            <span *ngIf="det3.disp===true">
                                                <span style="color:rgb(55, 55, 186)" >&nbsp;&nbsp;&nbsp;{{det3.F}}</span>=<span style="color:darkorange" >"{{det3.V}}"</span>
                                            </span>
                                            <span *ngIf="mainOutJSON.Body.level.tab[i].tab[j].tab[k].tab[l].det.length-1===m3 && tab3.type!=='T' && tab3.type!=='F'  && tab3.type!=='C'">&nbsp;{{tab3.type}}</span>
                                        </span>
                                        
                        <br>
                                        <div style="margin-left:49px;display:block;" *ngFor="let tab4 of tab3.tab; let o=index;">
                                            <div *ngIf="tab4.disp===true">  
                                                    {{tab4.name}} 
                                                <div style="display:inline-block;" *ngFor="let det4 of tab4.det; let m4=index;">
                                                        <span *ngIf="det4.disp===true">
                                                            <span style="color:rgb(55, 55, 186)" >&nbsp;&nbsp;&nbsp;{{det4.F}}</span>=
                                                            <span *ngIf="det4.V.indexOf(specQuote)===-1" style="color:darkorange" >"{{det4.V}}"</span>
                                                            <span *ngIf="det4.V.indexOf(specQuote)>-1" style="color:darkorange" >' {{det4.V}} '</span>
                                                        </span>
                                                    <span *ngIf="mainOutJSON.Body.level.tab[i].tab[j].tab[k].tab[l].tab[o].det.length-1===m4">&nbsp;{{tab4.type}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:30px;">&nbsp;</div>

</body>