<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div style="display:inline-block; width:800px; text-align: center; color:blue; background-color: cyan; padding-top:10px; padding-bottom:10px; margin-left:20px;">WELCOME <br>to<br> Manage your CUSS configuration file</div>
  <div style="height:2px;"></div>
  <div style="margin-top:50px;">
    <app-kiosk-abd-config [identification]="identification"  [configServer]="configServer" 
        [devMode]="devMode"> 
    </app-kiosk-abd-config>
  </div>



  


</body>



<router-outlet />
